* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    color:#fff
    }

  header {
    background: rgba(107, 105, 105, 0.7);
    height: 15%;
    width: 100%;
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 0 auto;
  }
  
  nav {
    float: right;
  }
  
  nav ul {
    list-style: none;
    overflow:  hidden;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-right: 50px;
  }
  
  nav ul li {
    float: left;
    font-size: 50px;
    list-style: none;
  }

  nav ul li:hover {
    background: #32456d;
  }

  nav ul li a {
    display: block;
    padding: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }


 /* CODIGO INUTIL?
  .nav {
    display: flex;
    flex-direction: row-reverse;
  }

 #logo, nav {
    flex: 1;
  } 
  */

  section, footer {
  margin: 0 auto;
  padding: 0 auto;
  max-width: auto;
  }

  h1, h2 {
  display: flex;
  justify-content: space-around;
  }

  h1 {
    font-size: 100px;
    margin: 80px;
    color: rgb(86, 86, 145);
  }

  .caja1, .caja2 {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0;
  }

  .intro {
    width: 60%;
    padding: 0;
    margin: 0 40px;
  }

  .img1 {
    margin-left: 20px;
  }

  .intro p {
    font-size: 35px;
  }

  p {
    text-indent: 5%;
  }

  h2 {
    font-size: 80px;
    align-items: center;
    margin: 60px auto;
    padding: 100px auto;
  }

  a {
    text-decoration: none;
    color: aqua;
  }

  b em {
    color: rgb(255, 0, 43);
   
  }

  .video1 {
    margin-left: 300px;
  }

  .intro2 {
    font-size: 30px;
    width: 40%!important;
    padding-top: 120px;
  }