* {
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    background-color: #000000;
    }

  header {
    background: rgba(107, 105, 105, 0.7);
    height: 15%;
    width: 100%;
    position: fixed;
    z-index: 100;
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 0 auto;
  }
  
  nav {
    float: right;
  }
  
  nav ul {
    list-style: none;
    overflow:  hidden;
    display: flex;
    justify-content: space-around;
  }
  
  nav ul li {
    float: left;
    font-size: 50px;
  }
  nav ul li a {
    display: block;
    padding: 30px;
    color: #fff;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #000000;
  }
  .nav {
    display: flex;
    flex-direction: row-reverse;
  }

  #logo, nav {
    flex: 1;
  }

  nav li {
    list-style: none;
  }

  .h1, h2 {
    color: #fff;
    font-size: 70px;
    align-items: center;
  }

  p {
    color:#fff;
    position: flex;
}

  .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.h1 {
    width: 100%;
}

.intro, .img1 { 
    width: 48%;
    height: 100px;
    margin-bottom: 2%;
}

